// Importation d'un fichier mixin SCSS
@import "../../style/mixin.scss";

// Définition des styles pour le wrapper du contenu de la transaction
.transaction-content-wrapper {
    // Le wrapper prend toute la largeur disponible
    width: 100%;
    // Utilisation de flex-grow pour permettre à cet élément de croître pour occuper l'espace disponible
    flex: 1;

    // Application de styles spécifiques pour les appareils mobiles
    @include Mobile {
        // Sur mobile, l'élément ne croît pas pour occuper l'espace disponible
        flex: 0;
    }

    // Styles pour le bouton de transaction à l'intérieur du wrapper
    .transaction-button {
        // Le bouton est un bloc pour qu'il prenne toute la largeur disponible
        display: block;
        // Le bouton prend toute la largeur de son conteneur
        width: 100%;
        // Ajout de padding interne pour espacer le contenu
        padding: 8px;
        // Augmentation de la taille de la police pour rendre le texte plus grand
        font-size: 1.1rem;
        // Mise en gras du texte du bouton
        font-weight: bold;
        // Ajout de marge en haut pour espacer le bouton des éléments au-dessus
        margin-top: 1rem;
        // Définition de la couleur de la bordure
        border-color: #00bc77;
        // Définition de la couleur de fond
        background-color: #00bc77;
        // Définition de la couleur du texte
        color: #fff;
        // Suppression de la décoration de texte (par exemple, suppression des soulignements)
        text-decoration: none;

        // Application de styles spécifiques pour les appareils mobiles
        @include Mobile {
            // Sur mobile, le bouton a une largeur fixe de 200px
            width: 200px;
        }
    }
}
