// Styles pour le conteneur des champs d'entrée du formulaire
.input-wrapper {
    // Utilise flexbox pour organiser les éléments dans une colonne
    display: flex;
    flex-direction: column;
    // Alignement du texte à gauche
    text-align: left;
    // Marge en bas des champs pour espacer les éléments
    margin-bottom: 1rem;

    // Styles pour les labels des champs d'entrée
    label {
        // Met le texte en gras
        font-weight: bold;
    }

    // Styles pour les champs d'entrée (input)
    input {
        // Ajoute un padding interne pour plus d'espace
        padding: 5px;
        // Définit la taille de la police
        font-size: 1.2rem;
    }
}

// Styles pour le conteneur du checkbox "Remember me"
.input-remember {
    // Utilise flexbox pour aligner les éléments en ligne
    display: flex;

    // Styles pour le label du checkbox
    label {
        // Ajoute une petite marge à gauche pour espacer le label du checkbox
        margin-left: 0.25rem;
    }
}

// Styles pour le bouton de soumission "Sign in"
.sign-in-button {
    // Le bouton prend toute la largeur de son conteneur parent
    display: block;
    width: 100%;
    // Ajoute un padding interne pour plus d'espace
    padding: 8px;
    // Définit la taille de la police
    font-size: 1.1rem;
    // Met le texte en gras
    font-weight: bold;
    // Marge en haut pour espacer le bouton des autres éléments
    margin-top: 1rem;
    // Définit la couleur de la bordure du bouton
    border-color: #00bc77;
    // Définit la couleur de fond du bouton
    background-color: #00bc77;
    // Définit la couleur du texte
    color: #fff;
}
