// Style pour le conteneur principal du composant UserWelcom
.header {
    // Définit la couleur du texte à blanc pour tout le contenu à l'intérieur de .header
    color: #fff;
    
    // Ajoute une marge inférieure de 2rem au conteneur pour espacer les éléments suivants
    margin-bottom: 2rem;

    // Style spécifique pour le bouton d'édition à l'intérieur de .header
    .edit-button {
        // Définit la couleur de la bordure du bouton, correspondante à la couleur du fond
        border-color: #00bc77;
        
        // Définit la couleur de fond du bouton
        background-color: #00bc77;
        
        // Définit la couleur du texte du bouton à blanc
        color: #fff;
        
        // Applique une police en gras pour le texte du bouton
        font-weight: bold;
        
        // Ajoute un espacement interne de 10px à l'intérieur du bouton pour un meilleur rendu
        padding: 10px;
    }
}
