// Styles pour le conteneur principal de l'élément de fonctionnalité
.feature-item {
    // L'élément prend tout l'espace disponible dans son conteneur parent flex
    flex: 1;
    // Ajoute un padding interne autour du conteneur
    padding: 2.5rem;

    // Styles pour l'icône de la fonctionnalité
    .feature-icon {
        // Définit la largeur de l'icône
        width: 100px;
        // Ajoute une bordure de 10 pixels de couleur #00bc77 autour de l'icône
        border: 10px solid #00bc77;
        // Ajoute un arrondi complet aux coins de l'icône, la transformant en cercle
        border-radius: 50%;
        // Ajoute un padding interne autour de l'icône
        padding: 1rem;
    }

    // Styles pour le titre de l'élément de fonctionnalité
    .feature-item-title {
        // Définit la couleur du texte
        color: #222;
        // Définit la taille de la police
        font-size: 1.25rem;
        // Met le texte en gras
        font-weight: bold;
        // Ajoute une marge en bas du titre pour espacer les éléments suivants
        margin-bottom: 0.5rem;
    }
}
