// Importation des mixins pour les media queries
@import "../../style/mixin.scss";

// Styles pour le conteneur principal de la bannière
.hero {
    // Image de fond pour la bannière
    background-image: url("../../assets/bank-tree.webp");
    // Positionnement de l'image de fond
    background-position: 0 -50px;
    // Redimensionnement de l'image de fond pour couvrir tout le conteneur
    background-size: cover;
    // Ne pas répéter l'image de fond
    background-repeat: no-repeat;
    // Hauteur du conteneur de la bannière
    height: 300px;
    // Positionnement relatif pour permettre le positionnement absolu des enfants
    position: relative;

    // Media query pour les tablettes
    @include Tablet {
        // Augmente la hauteur de la bannière sur tablette
        height: 400px;
        // Change la position de l'image de fond sur tablette
        background-position: 0% 33%;
    }

    // Styles pour le contenu de la bannière
    .hero-content {
        // Positionnement relatif pour ajuster le contenu à l'intérieur de la bannière
        position: relative;
        // Décale le contenu vers le bas
        top: 2rem;
        // Largeur fixe du contenu
        width: 200px;
        // Fond blanc pour le contenu
        background: white;
        // Padding autour du contenu
        padding: 2rem;
        // Alignement du texte à gauche
        text-align: left;
        // Centrage horizontal du contenu
        margin: 0 auto;

        // Media query pour les tablettes
        @include Tablet {
            // Positionnement absolu du contenu sur tablette
            position: absolute;
            // Ajuste la position verticale du contenu sur tablette
            top: 50px;
            // Positionne le contenu à droite sur tablette
            right: 50px;
            // Augmente la largeur du contenu sur tablette
            width: 300px;
            // Ajoute une marge autour du contenu sur tablette
            margin: 2rem;
        }
    }

    // Styles pour les sous-titres de la bannière
    .subtitle {
        // Texte en gras
        font-weight: bold;
        // Taille de la police pour les sous-titres
        font-size: 1rem;
        // Supprime la marge par défaut
        margin: 0;

        // Media query pour les tablettes
        @include Tablet {
            // Augmente la taille de la police sur tablette
            font-size: 1.5rem;
        }
    }

    // Styles pour le texte principal de la bannière
    .text {
        // Supprime la marge inférieure par défaut
        margin-bottom: 0;
        // Taille de la police pour le texte principal
        font-size: 0.9rem;

        // Media query pour les tablettes
        @include Tablet {
            // Augmente la taille de la police sur tablette
            font-size: 1.2rem;
        }
    }
}
