// Styles pour le formulaire d'édition
.form-edit {
    // Utilisation de flexbox pour organiser les éléments en colonne
    display: flex;
    flex-direction: column;
    // Le formulaire prend 30% de la largeur disponible
    width: 30%;
    // Centrage des éléments enfants horizontalement
    align-items: center;
    // Centrage du formulaire lui-même horizontalement
    margin: auto;

    // Styles pour chaque groupe d'input dans le formulaire
    .input-edit {
        // Ajoute une marge autour des groupes d'input
        margin: 7px;

        // Styles pour les labels des inputs
        label {
            // Ajoute une marge à droite des labels
            margin-right: 10px;
        }

        // Styles pour les inputs
        input {
            // Ajoute un léger arrondi aux coins des inputs
            border-radius: 5px;
        }
    }

    // Styles pour le conteneur des boutons d'édition
    .btn-edit {
        // Ajoute un padding autour du conteneur de boutons
        padding: 15px;
        // Utilisation de flexbox pour organiser les boutons en ligne
        display: flex;
        // Ajoute un espace entre les boutons
        gap: 15px;

        // Styles pour les boutons
        button {
            // Ajoute un léger arrondi aux coins des boutons
            border-radius: 5px;
            // Ajoute du padding interne aux boutons
            padding: 15px 25px;
            // Définit la couleur du texte des boutons
            color: #fff;
            // Définit la couleur de la bordure des boutons
            border-color: #00bc77;
            // Définit la couleur de fond des boutons
            background-color: #00bc77;
            // Rend le texte des boutons en gras
            font-weight: bold;
            // Supprime la décoration de texte (par exemple, suppression des soulignements)
            text-decoration: none;
        }
    }
}
