// Conteneur principal pour la page d'erreur
.error-container {
    // Utilisation de flexbox pour centrer les éléments verticalement et horizontalement
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // Espace supplémentaire en bas du conteneur
    padding-bottom: 100px;

    // Styles pour le titre de l'erreur
    .error-title {
        // Taille de police très grande pour mettre en évidence le code d'erreur
        font-size: 10rem;
        // Texte en gras
        font-weight: bold;
        // Couleur verte pour le texte
        color: #00bc77;
        // Suppression de la marge par défaut
        margin: 0;
    }

    // Styles pour le texte du message d'erreur
    .error-text {
        // Taille de police grande pour rendre le message d'erreur bien visible
        font-size: 3rem;
        // Texte en gras
        font-weight: bold;
        // Couleur blanche pour le texte
        color: white;
    }

    // Styles pour le lien du bouton d'erreur
    .error-btn {
        // Suppression de la décoration par défaut des liens (soulignement)
        text-decoration: none;
    }
}
