// Importation des mixins depuis le fichier mixin.scss
@import "../../style/mixin.scss";

// Style principal pour la section des transactions
.transaction {
    // Utilisation de flexbox pour l'alignement des éléments
    display: flex;
    justify-content: space-between; // Espace égal entre les éléments
    align-items: center; // Centrage vertical des éléments
    border: 1px solid black; // Bordure noire autour de la section
    background-color: #fff; // Couleur de fond blanche
    width: 80%; // Largeur de 80% du conteneur parent
    margin: 0 auto; // Centrage horizontal
    flex-direction: column; // Disposition des éléments en colonne
    padding: 1.5rem; // Espacement intérieur de 1.5rem
    box-sizing: border-box; // Inclut les bordures et les marges dans la largeur totale
    text-align: left; // Alignement du texte à gauche
    margin-bottom: 2rem; // Espacement en bas de la section

    // Styles pour les écrans mobiles
    @include Mobile {
        flex-direction: row; // Disposition des éléments en ligne
    }

    // Style pour le conteneur du contenu de la transaction
    .transaction-content-wrapper {
        width: 100%; // Largeur de 100% du conteneur parent
        flex: 1; // Prend tout l'espace disponible

        // Style pour le montant de la transaction
        .transaction-amount {
            margin: 0; // Suppression des marges
            font-size: 2.5rem; // Taille de police de 2.5rem
            font-weight: bold; // Texte en gras
        }

        // Style pour la description du montant de la transaction
        .transaction-amount-description {
            margin: 0; // Suppression des marges
        }

        // Style pour le titre de la transaction
        .transaction-title {
            margin: 0; // Suppression des marges
            padding: 0; // Suppression des espaces intérieurs
            font-size: 1rem; // Taille de police de 1rem
            font-weight: normal; // Poids de police normal
        }
    }

    // Style pour les boutons d'appel à l'action (cta)
    .cta {
        // Styles pour les écrans mobiles
        @include Mobile {
            flex: 0; // Ne prend pas d'espace flexible
        }
    }
}
